* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.Header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.Main {
  height: 665px;
  display: flex;
}

button {
  width: 100%;
  padding: 20px 30px;
  background-color: #fff;
  color: #4598ae;
  text-transform: uppercase;
  font-weight: bold;

  border: 2px solid #4598ae;
  border-radius: 10px;
  transition: all 0.3s;
}

button:hover {
  background-color: #4598ae;
  color: #fff;
}

h1 {
  color: #4598ae;
}
h2 {
  color: #9a9a9a;
}

.left {
  padding: 8%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
}
.right {
  width: 60%;
  background-image: url(assets/doctor.jpg);
  background-size: cover;

}

.Footer {
  font-size: 16px;
  color: #ffffff;
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 140px;
}

span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: black;
  margin: 10px 0;
}

@media screen and (max-width: 426px) {
  .Main {
    flex-direction: column;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
    height: 100%;
  }
}